{{> navbar}}

<h3>Dashboard</h3>

<div class="posts">
  {{#each allPosts as |post| }}
  <div class="card">
    <div class="card-header flex-row justify-space=between">
      <h2>{{post.title}}</h2>
      <h4>{{post.createdAt}}</h4>
    </div>
    <div class="card-body">
      {{post.body}}
    </div> 
    <div>
      <a href="/newcomment">
        <button type="button" class="btn btn-dark test" id="{{post.id}}">Comment + {{post.id}}</button>
      </a>
    </div>        
  </div>
  {{/each}}
</div>